
  nav{
    background-color:maroon;
    position:fixed;
    width:100%;
    top:0;
    left:0;
    display: flex;
    padding-bottom: 0px;
     justify-content: center;
  }
  nav>ul>li {
    display: inline;
    margin:70px;
    list-style-type: none;
     justify-content: right;  
}
body{
  background-color: cornsilk;
  text-align: center;
  margin:80px;
  
}
h2{
  text-align: center;
  padding: 10px 10p;
}
h1{
  text-align: center;
  padding: 10px 10px;
}

div ul li{
      display: inline;
      margin: 30px;
      list-style-type: none;
  }
